div.w3-bar a.w3-button {
  border-right: solid #78a3ba;
  transition: 0.4s;
}
.w3-bar a.w3-button:hover:not(.disabled):not(.active) {
  color: #fff !important;
  background-color: #4e7e97 !important;
  transition: 0.4s;
}

.button {
  color: #fff !important;
  border-radius: 8px;
  background-color:#578ca9 !important;
}
.button:hover {
  color: #fff !important;
  background-color: #4e7e97 !important;
  transition: 0.4s;
}

div.w3-sidebar h4 {
  padding: 0 16px;
  margin: 0;
  color: white;
  background-color: #78a3ba;
}
div.w3-sidebar a.w3-bar-item {
  padding: 4px 16px 4px 28px;
  transition: 0.4s;
}
a.active { /* div.w3-sidebar a.active */
  background-color: #457087;
}
a.disabled {
  background-color: gray;
}

div.w3-main h1, h2 {
  color: #578ca9;
}
div.w3-main p {
  text-align:justify;
}

code {
  font-family: Consolas, Courier, monospace;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%;
}

pre {
  padding: 2px 8px;
  border: thin solid #578ca9;
  border-radius: 8px;
  /* border-left: thick solid #578ca9; */
}

textarea {
  width: 100%;
  height: 450px;
  padding: 12px 4px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  resize: none;
  font-family: Consolas, Courier, monospace;
  font-size: 18px;
  transition: 0.4s;
}
textarea:focus {
  border: 2px solid #578ca9;
  outline: none;
}

a.undo:hover {
  background-color: rgba(233, 27, 12, 1) !important;
}

form input[type=text], input[type=password] {
  border: 2px solid #ccc !important;
  border-radius: 8px;
  transition: 0.4s;
  outline: none;
}
form input[type=text]:focus, input[type=password]:focus {
  border: 2px solid #578ca9 !important;
}

form input[type=date] {
  padding: 8px;
  border: 2px solid #ccc !important;
  border-radius: 8px;
  outline: none;
  transition: 0.4s;
}
form input[type=date]:focus {
  border: 2px solid #578ca9 !important;
}

#snackbar {
  visibility: hidden; /* Hidden by default. */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #578ca9; /* w3-theme background color */
  color: #fff; /* White text color */
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 50px; /* 50px from the top */
}

#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 50px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 50px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 50px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.w3-theme-l5 {color:#000 !important; background-color:#f5f8fa !important}
.w3-theme-l4 {color:#000 !important; background-color:#dde8ee !important}
.w3-theme-l3 {color:#000 !important; background-color:#bcd1dc !important}
.w3-theme-l2 {color:#000 !important; background-color:#9abacb !important}
.w3-theme-l1 {color:#fff !important; background-color:#78a3ba !important}
.w3-theme-d1 {color:#fff !important; background-color:#4e7e97 !important}
.w3-theme-d2 {color:#fff !important; background-color:#457087 !important}
.w3-theme-d3 {color:#fff !important; background-color:#3d6276 !important}
.w3-theme-d4 {color:#fff !important; background-color:#345465 !important}
.w3-theme-d5 {color:#fff !important; background-color:#2b4654 !important}

.w3-theme-light {color:#000 !important; background-color:#f5f8fa !important}
.w3-theme-dark {color:#fff !important; background-color:#2b4654 !important}
.w3-theme-action {color:#fff !important; background-color:#2b4654 !important}

.w3-theme {color:#fff !important; background-color:#578ca9 !important; transition: 0.4s;}
.w3-text-theme {color:#578ca9 !important}
.w3-border-theme {border-color:#578ca9 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#578ca9 !important}
.w3-hover-text-theme:hover {color:#578ca9 !important}
.w3-hover-border-theme:hover {border-color:#578ca9 !important}